.paginationBtn {
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.paginationBtn a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
}

.paginationBtn a:hover {
    color: red;
    background-color: white;
}

.paginationActive a {
    color: red;
    background-color: white;
}